{% extends 'login/base.html' %}
{% block title %}计算原理{% endblock %}
{% block content %}
<h1 align="center">计算原理</h1>
<p align="center">作者:冬瓜丸子&emsp;&emsp;时间：2020/01/21</p>
<p><br></p>
<p><br></p>
<h3 align="center">计算工具</h3>
<p>&emsp;&emsp;生物演化的历史源远流长，发展至今已经成为具备完全兼容生物多样性的生态系统。对于不同的物种或个体而言，其差异性或特殊性表现除了古老生命的记忆符号“基因”之外，还有某种改造世界的原动力，有的人称之为“思想”，而有的人称之为“灵魂”。</p>
<p>&emsp;&emsp;相对生物的对立面，非生物是世界的原生物质，结合达尔文《进化论》的物种起源学说，生物是原生物质的时序动态形成了规律循环和随机选择。</p>
<p style="color:red ">计算机事务处理基础逻辑：循环与选择。</p>
<p><br></p>
<p>&emsp;&emsp;计算机是现代化工业革命的产物，起源于电磁波的发现，经过仿生科学思想推演的能力扩展应用衍生出计算工具。</p>
<p>&emsp;&emsp;计算机虽然具备了计算的能力，但仍然属于非生物，与生物本质的不同，是其计算逻辑与生物推演过程根的不同，换言之，计算机的随机选择属于“伪随机”。引入一个例子，人类孕育到出生阶段，经历基因改造过程继承人类种族的历史记忆形成婴儿的物质形体，当这个形体开始具备思想的时刻，已然形成一个独立的生物个体，可以有了自己的选择，选择伸腿还是不伸腿，选择哭还是不哭。然而对比之下，计算机的诞生，仅仅依赖于开机指令，然后执行固定逻辑的0与1计算，毫无生物随机选择的特征。</p>
<p style="color:red ">生物情感是一种选择，结果在爱与不爱之间。</p>
<p><br></p>
<p>&emsp;&emsp;由此可见计算机不具备生物的特征，是人类创造的替代某些计算的工具，亦或是思想推演的一种物质结果。在二十一世纪的信息时代，人类对计算机充满热情，热衷于计算机给人类生存与发展带来的极大便利，犹如IT、互联网、人工智能等等知识技术产物，这也加速了思想选择作用于世界的过程。</p>
<p style="color:red ">思想一直在推演，甚至推演思想本身。</p>
<p><br></p>
<h3 align="center">计算过程</h3>
<p>&emsp;&emsp;计算仿造了人类思想推演的过程，作为工具放大了循环选择的确定性，同时消除了随机性带来的机器人自主意识风险，所以一切计算的结果都是人类思想设定的结果。</p>
<p>&emsp;&emsp;解读计算的过程，需要从计算机组成原理等说起。计算机作为仿人类的工业产物，基本构成组件参考冯·诺依曼结构有输入设备、输出设备、存储器、控制器、运算器，类比对照与人体结构的四肢、五官、大脑等组织器官的功能相似。例如婴儿看到奶瓶去拿的动作，眼睛作为输入设备将这一信息通过神经传递给大脑；婴儿下意识的身体偏向或伸出躯体触碰奶瓶则是输出设备的作用体现；映射信息在婴儿身体的物理介质则可比作存储器，相关研究表明这一介质是复杂的神经元连接形成的神经元簇；控制器与运算器在个人计算机中也被称为CPU，即中央处理器，生物学中对刺激作出反应的过程称为反射，反射分条件反射与非条件反射，而条件反射通通过人体大脑为主的神经网络完成，不同区域的大脑皮层负责不同的躯体连接或对应不同刺激作出不同反应，目前阶段人类对于生物或者自身身体结构尤其是大脑的研究还处在宏观物理层面，可见脑科学依然是科学研究中尚为棘手的一个分支。</p>
<p style="color:red ">规律使物质结构化，结构映射思想是时序逻辑的不同阶段。</p>
<p><br></p>
<p>&emsp;&emsp;类比于精妙的生物神经元传递结构，负责计算的芯片工艺已经能够将精度做到7纳米甚至更高的水平，以此来完成更加复杂规模更加宏大的计算工程。在技术升级过程中，除了计算机集成度的不断提升，各个器件模块也都进行着跨越式的升级，例如存储介质从磁盘到机械硬盘再到固态硬盘，CPU集成由单核到多核，计算频率从1GHz提升到3.5GHz或更多，通信信号从电信号到光信号或电磁波信号，无线通信网络从2G3G提升至4G5G，冷却系统从风冷到水冷，计算原理从电子即将进入量子计算等等。</p>
<p style="color:red ">技术革新永远不会停止，随机与选择是创新的源泉。</p>
<p><br></p>
<p>&emsp;&emsp;一套完整电子元器件经过组装成为计算机，接通电源便开始了一场电子信号的秘境寻踪。电子信号由电流产生，脉冲电流解决模拟信号到数字信号的转变，高电平与低电平形成了天然的选择基础，经过物质映射知识将高电平代表数据1，低电平代表数据0，再经过知识映射思维1代表正确，0代表错误，由此诞生了具有实际意义的一组二元数据。</p>
<p>&emsp;&emsp;选择通常不只有两种，而是无数种，二元数据组合形成二进制数则可以构成所有的实数，赋予每个数据不同的含义则可以映射整个世界，例如坐标化空间序列，选定参考坐标原点，(X,Y,Z...)多个值的组合可以代表这个点在多维空间与参考点的距离。</p>
<p style="color:red ">物质映射思想可以将微观世界宏观化，亦可以将宏观世界微观化，这样的推演过程可被称为视角转换。</p>
<p><br></p>
<p>&emsp;&emsp;完成空间维度的映射关系，下面来讨论另一维度时间。时间流转，物质世界具有了时间维度的属性，历史与未来。不可否认人类至今依然未能掌握时间序列的奥秘，参考爱因斯坦的《相对论》学说也仅知道时间与物质的质量能量存在关系，质能方程解释了质量和能量的关系，相关系数是光速。速度的概念即物质单位时间的位移，具有高能量的物质处于不平衡状态，时间扭曲空间使得物质世界最终趋于稳定状态。加入的时间与速度的概念，回到电子信号的秘境寻踪，奇妙的不是秘境中的宏伟工程，而是电子信号作为一个符号记忆拥有速度并且动了起来，听起来这好比是意识的原初形态，时序逻辑。
<p style="color:red ">时间停止，万物归于空有，不可观测；时间倒流，万物归于无序，不可计算。</p>
<p><br></p>
<p>&emsp;&emsp;逻辑运算是比数值运算更为基础的一种运算方式，因为逻辑运算基础是一组代表有无的二元数值，而数值运算则包含数学运算中所有的实数虚数、有理数无理数、整数小数等等数值。逻辑运算包含非、与、或、与或、异或、与非逻辑，运算的意义即规则，科学理论将自然界的部分规则视为公理，映射运算以非逻辑为例，事务P的非逻辑运算结果是非P记作“-P”，或者说1经过非运算等于0。在计算器中门电路是最基础的逻辑电路，各种门电路的设计原理可参考《数字电路与逻辑设计》，常见的是晶体管电路，而晶体管是一种半导体器件。有了电路基础，运算器也不再是问题，除了加法器、乘法器等运算器，还有基于矩阵的运算器等等。矩阵运算器在图像处理、人工智能计算等领域显得更加突出。</p>
<p style="color:red ">万物皆可推导，谁掌握了历史，谁就掌握了未来。</p>
<p><br></p>
<h3 align="center">计算未来</h3>
<p>&emsp;&emsp;参考熵增原理，物质世界趋于无序，因为思想的出现，可以通过学习对无序世界进行概率修正选择，因此诞生规律。规律可以映射成思想运算，如果物质世界严格遵守规律，则历史可以推导，未来可以预知。预知未来一直是人类追求生存的本领之一，古有巫女占星，今有人工智能。</p>
<p>&emsp;&emsp;规律从无序到有序，计算的过程重要，历史的经验也重要。计算机作为一种可以计算的工具，更多的作用是代替人类运算的逻辑，如果人类历史进程是一代代的传承，那么机器通过学习也能做到知识的推理与传递。机器的学习基于计算机的计算功能，依赖历史数据或样本集进行分析，通过拟合数据中的规律生成比运算器更加复杂的计算模型。发展至今的机器学习算法已有许多，简单分类为监督学习、无监督学习，监督学习的计算样本中包含所有结果；无监督学习是根据数据推导其中的规律，样本数据中不包含推导结果。机器学习的反馈迭代过程是概率修正的逻辑选择，无论分类、聚类还是回归算法，迭代是对大数据的反复学习，反馈是对计算的定向修正。因为修正意义的存在，算法中通常会存在不断变化的参数，如迭代次数，数值权重，校验阈值等等。以K均值算法为例，通常根据计算机时钟随机函数选择k个聚类中心，计算数据与每个中心的距离，将最相近的中心点与数据归为一类，然后通过均值计算重新计算出每一类中的聚类中心，多次重复此计算过程直到达到退出条件。
<p style="color:red ">思想作用于物质，实践检验出效果，效果反馈到思想是学习的过程。</p>
<p><br></p>
<p>&emsp;&emsp;计算机的发展史相对人类历史简短许多，但作为工具的特性使其计算的功能在一些方面应用得比人类大脑更加出色。那么计算机是否可以解决人类的几个历史哲学问题：我是谁？我来自何处？我将往何处？根据当下主流的人工智能应用产品，百分百的答案是机器人或相关产品解释，这个回答就好比人类自己说是人一样。显然这种回答无法证明人类对自己的定义或者解释。可以理解成计算机所有的计算思维仅仅只是人类思想的物质映射，因此即使是再先进的算法与再高级的配置，计算机也无法在思想上比肩或者超越人类。</p>
<p style="color:red ">思想无法定义思想本身，因为逻辑推演需要物质依据，如公理不可证实，亦无法证伪。</p>
<p><br></p>
<p>&emsp;&emsp;人类通过工业革命进入现代文明，第一次工业革命是机械化代替人工劳动，代表是发明了蒸汽机；第二次工业革命是大规模应用电力，代表是发表了电灯；第三次工业革命是信息技术发展，代表是计算机应用。根据前几次工业革命的经验，每一个工业革命的代表都是一个新兴技术的诞生，并且这种技术能提供给人类生存空间与思想交流的便利。而与此同时终结世界战争的另一项发明核技术没被纳入工业革命，因为这样的技术暂时无法被人类掌控并且广泛应用于解决工业问题。</p>
<p style="color:red ">水能载舟，亦能覆舟；技术为思想服务，亦为现实服务。</p>
<p><br></p>
<p>&emsp;&emsp;关于第四次工业革命有许多种说法，譬如以克隆羊为代表的生物科学技术、以石墨烯为代表高分子材料技术、亦或是以人工智能为代表的智能科学技术，凡此种种但无一被准确定义。工业升级既然是为了人类服务，那么人类最终的目的是何，解决生存危机？改造物质世界？改变历史规律？根据唯物主义哲学思想物质基础决定上层建筑，工业革命的最终目标也当是为上层建筑服务。二十一世纪初的现代工业技术还没有达到思想可以直接改变物质的境界，例如神话小说《西游记》中孙行者的天罡七十二变换仍停留在幻想之中。但工业革命不会停止，下一代技术会越来越接近人类思想，越来越接近人类大脑，例如人机接口技术、虚拟现实技术、躯体改造技术等等，最终脱离物质世界的规律。</p>
<p style="color:red ">物质世界的终结是思想控制，这种技术在现阶段被称为洗脑。</p>

<!--    {% if request.session.is_login %}-->
<!--        <h1>-->
<!--            <center>你好,{{ request.session.user_name }}！欢迎回来！</center>-->
<!--        </h1>-->
<!--    {% else %}-->
<!--        <h1>-->
<!--            <center>你尚未登录，只能访问公开内容！</center>-->
<!--        </h1>-->
<!--    {% endif %}-->

<HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
<h3 align="center">赞助链接</h3>
<p></p>
<p align="center">
<img src="/static/login/img/zfb_skm.jpg" width="300" height="400"/>
<img src="/static/login/img/wx_skm.jpg" width="300" height="400"/>
</p>
<HR style="FILTER: progid:DXImageTransform.Microsoft.Shadow(color:#987cb9,direction:145,strength:15)" width="80%" color=#987cb9 SIZE=1>
<p align="center">访问量：{{request.session.views}}</p>
<p align="center">版权所有，转载请说明出处</p>
<p align="center"><img src="/static/login/img/footer_icon.png"/>蜀ICP备19039233号</p>
<p></p>
<p align="center">
</p>

{% endblock %}